@page
@model AboutUs
@{
}
<h2>@ViewData["Title"]</h2>

<p>Movie Library is an API based movie search engine and library.</p>
<p>You can add, remove or search about movies using this service.</p>
<p>This website was built using C# using Microsoft Visual Studio 2017.</p>
<p>For database, SQLite has been used.</p>

<br />
<br />

<h4>Contact Info:</h4>

<h5>Joban Dhillon</h5>
<h5>Email: Jobandhillon4567@gmail.com</h5>
<h5>Phone: 0225248214</h5>

<h5>Location: 6 Tia Rd, Flat Bush, Auckland 2016</h5>
<form method="get" action="/Search" runat="server" border="0" cellpadding="0" cellspacing="0" style="width:100%;float:right">
    <div class="input-group">
        <input type="submit" value="Back" class="btn btn-primary" style="background:black" />
    </div>
</form>